table {
  width: 100%;
  border-radius: 1em;
  font-size: 10pt;
  border-collapse: collapse;
  position: relative;
  box-shadow:  0 0 20px rgba(0, 0, 0, 0.15);
  margin: 25px 10px;
  overflow: clip;
}


th {
  font-size: 12pt;
  color: white;
  font-family: arial;
  position: sticky;
  top: 0;
  padding: 12px;
  background: linear-gradient(90deg, rgba(218,120,34,1) 0%, rgba(163,31,36,1) 100%);;
  background-attachment: fixed;
  z-index: 900;
}

th.pointer {
  cursor: pointer;
}
tr {
  border-bottom: thin solid lightgray;
}
tr:nth-child(odd) {
  background-color: white;
}
tr:nth-child(even) {
  background-color: f3f3f3;
}
tr:hover {
  background-color: lightgray;
}
button {
  background-color: #002060;
  color: white;
  border-radius: .5em;
  border: none;
  padding: 5px;
}
button:hover {
  background-color: lightblue;
}
