th {
  font-size: 12pt;
  color: white;
  font-family: arial;
  position: sticky;
  top: 0;
  padding: 12px;
  background: linear-gradient(90deg, rgba(218,120,34,1) 0%, rgba(163,31,36,1) 100%);;
  background-attachment: fixed;
  z-index: 900;
}
